* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#main {
  width: 1000px;
}
.section {
  width: 400px;
}
.section.box2  /* .box2 라고해도 알아들음 */ {
  width: 100%;
}
.text1 {
  margin-left: 50px;
}
.text2 {
  width: 400px;
  margin-left: 490px;
}
