.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.item {
  height: 100px;
  width: 100px;

  /* 반응형(모바일) > %로 줘야 편함 */
}
#wrap1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 800px;
  border: 1px solid;
}
#wrap1 .orange {
  align-self: ;
}
