.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.item {
  height: 100px;
  width: 100px;
  /* 반응형(모바일) > %로 줘야 편함 */
}
#wrap1 {
  display: flex;
  width: 1000px;
  border: 1px solid black;
  height: 250px;
  align-items: center;
  justify-content: space-evenly;
}
#wrap2 {
  display: flex;
  border: 1px solid black;
  width: 1000px;
  height: 300px;
  justify-content: space-between;
}
#wrap2 .orange {
  align-self: end;
}
#wrap2 .green {
  align-self: end;
}
#wrap2 .pink {
  align-self: center;
}
