body {
  margin: 0;
}

.header {
  width: 1000px;
  height: 100px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.wrap {
  width: 1000px;
  height: 600px;
  border: 1px solid red;
}
.left {
  width: 498px;
  height: 400px;
  border: 1px solid blue;
  display: inline-block;
}
.right {
  width: 498px;
  height: 400px;
  border: 1px solid green;
  display: inline-block;
}
