.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.item {
  height: 100px;
  width: 100px;

  /* 반응형(모바일) > %로 줘야 편함 */
}
#wrap1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 800px;
  border: 1px solid;
}
#wrap1 .orange {
  align-self: ;
}
#wrap1 .green {
  align-self: first baseline;
}
#wrap1 .blue {
  align-self: self-end;
}
#wrap1 > .pink {
  align-self: first baseline;
}
#wrap2 {
  display: flex;
  flex-direction: column;
}
#wrap2 .orange {
  order: 3;
}
#wrap2 .green {
  order: 1;
}
#wrap3 {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
}
#wrap3 .item1 {
  flex-grow: 1;
}
#wrap3 .item1:nth-child(1) {
  flex-grow: 1;
}
#wrap3 .item1:nth-child(2) {
  flex-grow: 3;
}
#wrap3 .item1:nth-child(3) {
  flex-grow: 1;
}
#wrap3 .item1:nth-child(4) {
  flex-grow: 1;
}
#wrap4 {
  display: flex;
}
#wrap4 .item1 {
  flex-basis: 150px;
}
#wrap4 .green {
  /* width: 100 px; */
  width: 100px;
  flex-shrink: 0;
}
