* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  background-color: whitesmoke;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 20px);
  background-color: black;
  justify-content: space-between;
  padding: ;
  z-index: 100;
}

.flex {
  display: flex;
}

header button {
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold;
  border: none;
}
header .flex {
  column-gap: 10px;
}
.title {
  padding-left: 10px;
  font-size: 20px;
  font-weight: 900;
}
nav {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 50px;
  height: calc(100vh - 50px);
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}
nav button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  border: none;
  text-align: left;
  padding: 0 15px;
}
ul.r {
  background-color: rgb(250, 250, 250);
  padding: 10px 0;
}
ul.r button {
  font-size: 10px;
  font-weight: 300;
  height: auto;
}
ul.rr {
  flex-direction: column;
  row-gap: 10px;
}
ul.rr button {
  background-color: aliceblue;
}
.t {
  column-gap: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
}
