* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap {
  background-color: rgb(79, 81, 180);
  width: 800px;
  height: 150px;
}
.ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: flex-end;
  height: 150px;
}
li {
  background-color: red;
}
li:nth-child(3) {
  background-color: gray;
}
li:nth-child(4) {
  background-color: brown;
}
.menu {
  line-height: 70px;
  padding: 0 25px;
}
.img img {
  display: block;
}
